<html>
    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
    </head>
    <body>
        <header>
            <h1>The Wall</h1>
            
            <a href="/logout">LogOut</a>
        </header>
        <main>
            <h2>Messages</h2>
            <ul>
                <!-- some kinda for message business here -->
                <li></li>
            </ul>
            <!-- display messages -->
            <!-- form to create a message -->
            <form action="/message/create" method="post">
                Message: <input type="text" name="message">
                <input type="submit" value="Message!">
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>